<md-dialog aria-label="Upload new BPMN file" ng-style="{'min-width': '600px'}">
	<md-toolbar>
        <div class="md-toolbar-tools">
        
        	<h2 ng-if="!process">{{ 'uploadNew' | translate }} BPMN {{ 'fileGeni' | translate }}</h2>
        	<h2 ng-if="process" >{{ 'uploadNew' | translate }} BPMN {{ 'fileGeni' | translate }} {{ 'for' | translate }} {{'process' | translate }} "{{process.name}}"</h2>
        	
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/close.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    
    <md-content layout-padding>
    	<section layout="row">
    	
    		<md-input-container flex>
    			<label for="bpmnFileName">BPMN {{ 'file' | translate }}</label>
    			<input type="text" readonly id="bpmnFileName" name="bpmnFile" ng-model="bpmnFile.name"/>
             </md-input-container>
             
             <input type="file" id="bpmnFile" name="bpmnFile" nlk-file-input="bpmnFile" ng-style="{'display': 'none'}"/>
             
             <md-button class="md-icon-button" onclick="(document.querySelector('#bpmnFile')).click()">
             	<md-icon md-svg-src="img/icons/drive-file.svg" aria-label="Close dialog"></md-icon>
           	</md-button>
           	
       	</section>
   	</md-content>
        
	<md-dialog-actions layout="row" layout-align="left center">
		<md-button class="md-raised md-primary" ng-click="answer(bpmnFile)">{{ 'confirm' | translate }}</md-button>
		<md-button class="md-raised md-warn" ng-click="cancel()">{{ 'cancel' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>