<md-dialog aria-label="{{ 'addExternalForm' | translate }}" ng-style="{'min-width': '400px'}">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'addExternalForm' | translate }}</h2>
			
			<span flex></span>
			
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="img/icons/close.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	
	<md-dialog-content layout-padding>
		<section layout="column">
		
			<form name="inputExtForm">
			
				<md-input-container class="md-block">
					<label for="xFormId">{{ 'exernalFormId' | translate }}</label>
					<input id="xFormId" ng-model="xform.formId" rows="2" md-maxlength="150" ng-required="true">
				</md-input-container>
				
				<md-input-container class="md-block">
					<label for="titleTemplate">{{ 'externalFormTitleTemplate' | translate }}</label>
					<textarea id="titleTemplate" ng-model="xform.titleTemplate" rows="2" md-maxlength="250" ng-required="true"></textarea>
				</md-input-container>
				
				<md-input-container class="md-block">
					<label for="selectSupervisor">{{ 'supervisor' | translate }}</label>
					<md-select id="selectSupervisor" ng-model="xform.supervisor" ng-required="true">
						<md-option ng-repeat="supervisor in supervisors" ng-value="supervisor.email">{{supervisor.lastName}} {{supervisor.firstName}}</md-option>
					</md-select>
				</md-input-container>
				
			</form>
		</section>
		
	</md-dialog-content>
	
	<md-dialog-actions layout="row" layout-align="left center" class="dialogActions">
		<md-button ng-disabled="!inputExtForm.$valid" class="md-raised md-primary" ng-click="save()">{{ 'confirm' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>