<md-dialog aria-label="{{ 'confirmAction' | translate }}" ng-style="{'min-width': '600px'}">
	<md-toolbar>
	    <div class="md-toolbar-tools">
	        <h2>{{ 'confirmAction' | translate }}</h2>
	        <span flex></span>
	    </div>
	</md-toolbar>
	
	<md-dialog-content layout-padding>
    	<div>{{ 'youAreAboutTo' | translate }} {{'cancelExecution' | translate}}
    		 {{instance.title}} {{'with' | translate}} id {{instance.id}}.</div>
     	<div>{{ 'cancelExecutionDelete' | translate }}</div>
  	</md-dialog-content>
  	
	<md-dialog-actions layout="row" layout-align="left center">
		<md-button class="md-raised md-primary" ng-click="confirm()">{{'confirm' | translate}}</md-button>
		<md-button class="md-raised md-warn" ng-click="cancel()">{{'cancel' | translate }}</md-button>
	</md-dialog-actions>
     
</md-dialog>