<md-dialog aria-label="{{ 'editFormItem' | translate }}">

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'editFormItem' | translate }}</h2>
			
			<span flex></span>
			
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="img/icons/close.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	
	<md-dialog-content layout-padding>
		<section layout="row" flex>
			<ng-form name="formItemForm">
				<md-input-container style="min-width: 400px;" class="md-block">
					<label for="titleTemplate">{{ 'description' | translate }}</label>
					<textarea id="titleTemplate" md-maxlength="150" ng-model="formItem.description"></textarea>
				</md-input-container>
			</ng-form>
			
		</section>
		<md-divider></md-divider>
	</md-dialog-content>
	
	<md-dialog-actions layout="row" layout-align="start center" style="padding-left: 0;">
		<md-button class="md-raised md-primary" ng-click="save()" ng-disabled="!formItemForm.$valid">{{ 'confirm' | translate }}</md-button>
		<md-button class="md-raised md-warn" ng-click="clear()" ng-disabled="!formItem.description">{{ 'clear' | translate }}</md-button>
	</md-dialog-actions>
        
</md-dialog>