<md-dialog aria-label="{{ 'editExternalForm' | translate }}" ng-style="{'min-width': '400px'}">

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'editExternalForm' | translate }}</h2>
			<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="img/icons/close.svg" aria-label="Close dialog"></md-icon>
				</md-button>
      	</div>
   	</md-toolbar>
        <!--<md-dialog-content style="max-width:800px;max-height:810px; ">-->
        
        <md-dialog-content layout-padding>
        	<section layout="column" flex>
        		<ng-form name="externalForm-Form">
 				
 					<section layout="row" flex>
	        			<md-input-container style="min-width: 400px;">
	                         <label for="xFormId">{{ 'exernalFormId' | translate }}</label>
	                         <input id="xFormId" ng-model="xform.formId" readonly>
	                    </md-input-container>
 					</section>
 					
 					<section layout="row" flex style="min-width: 400px;">
	         			<md-input-container>
	                         <label for="titleTemplate">{{ 'externalFormTitleTemplate' | translate }}</label>
	                         <textarea id="titleTemplate" ng-model="xform.titleTemplate" rows="2" style="min-width: 400px;"></textarea>
	                    </md-input-container>       
                    </section>		
                    
                    <section layout="row" flex style="min-width: 400px;">
                    	<md-input-container>
                    		<label for="selectSupervisor">{{ 'supervisor' | translate }}</label>
	                    	<md-select id="selectSupervisor" ng-model="xform.supervisor" style="min-width: 400px;">
	                    		<md-option ng-repeat="supervisor in supervisors" 
	                    			ng-value="supervisor.email">{{supervisor.email}}</md-option>
	                    	</md-select>
                    	</md-input-container>
                    </section>
        		</ng-form>
        	</section>
        	
        	<md-divider></md-divider>
        </md-dialog-content>
        
        <md-dialog-actions layout="row" layout-align="left center">
        	<md-button class="md-raised md-primary" ng-click="update()">{{ 'confirm' | translate }}</md-button>
        	<md-button class="md-raised md-warn" ng-click="cancel()">{{ 'close' | translate }}</md-button>
        	<md-button class="md-raised md-warn" ng-click="deleteXForm()">{{ 'delete' | translate }}</md-button>
        </md-dialog-actions>
        
</md-dialog>