<md-dialog aria-label="Facebook Tokens" ng-style="{'min-width': '600px'}">
	
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{fbpage.name}}</h2>
			<span flex></span>
			
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="img/icons/close.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	
	<md-dialog-content>
		<div class="md-dialog-content">
		
			<section layout="row" style="width: 50%">
				<div>{{'status' | translate }}</div>
				<md-icon md-svg-icon="img/icons/check.svg" ng-if="fbpage.valid"></md-icon>
				<md-icon md-svg-icon="img/icons/warning.svg" ng-if="!fbpage.valid"></md-icon>
			</section>
		</div>
	</md-dialog-content>
	
	<md-dialog-actions layout="row" layout-align="left center">
		<md-button class="md-raised md-primary" ng-click="remove(fbpage)" arial-label="Remove Page">
			<md-icon md-svg-icon="img/icons/delete.svg"></md-icon>
		</md-button>
		
		<md-button class="md-raised md-warn" ng-click="cancel()" arial-label="cancel">{{'cancel' | translate }}</md-button>
	</md-dialog-actions>

</md-dialog>