<md-dialog aria-label="{{ 'ownerSelection' | translate }}" ng-style="{'min-width': '500px'}">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'ownerSelection' | translate }}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="img/icons/close.svg" aria-label="Close dialog"></md-icon>
			</md-button>
      	</div>
   	</md-toolbar>
   	
   	<md-dialog-content>
   		<md-content flex layout-padding>
			<section layout="row" class="md-block" style="padding-left:0px">
				<label for="date-after" class="wf-label" style="width: 120px;">{{'completedAfter' | translate }}</label>
				<md-datepicker id="date-after" ng-model="searchFilter.dateAfter" ng-change="searchInstances()"></md-datepicker>
			
				<md-button class="md-icon-button" aria-label="Clear" ng-click="clearDateAfter()">
					<md-icon md-svg-icon="img/icons/clear.svg" style="margin-left: 10px;color: red;"></md-icon>
				</md-button>
			</section>
			
			<section layout="row" class="md-block" style="padding-bottom: 10px;padding-left:0px">
				<label for="date-after" style="width: 120px;" class="wf-label">{{'completedBefore' | translate }}</label>
				<md-datepicker id="date-before" ng-model="searchFilter.dateBefore" ng-change="searchInstances()" md-max-date="maxDateBefore"></md-datepicker>
				
				<md-button class="md-icon-button" aria-label="Clear" ng-click="clearDateBefore()">
					<md-icon md-svg-icon="img/icons/clear.svg" style="margin-left: 10px;color: red;"></md-icon>
				</md-button>
			</section>
			
			<md-input-container class="md-block wf-with-confirm" style="margin-bottom:0px">
				<label for="workflowInstances">{{ 'executionName' | translate }}</label>
				
					<md-button ng-click="searchInstances()" class="md-icon-button wf-confirm-button" style="display: inline-block; position: absolute; top: 0; right: -10px" aria-label="Search">
						<md-icon md-svg-icon="img/icons/check.svg" style="color:green"></md-icon>
					</md-button>
					
					<md-button class="md-icon-button wf-confirm-button" aria-label="Clear" ng-click="clearInstanceTitle()" style="display: inline-block; position: absolute; top: 0; right: -40px">
						<md-icon md-svg-icon="img/icons/clear.svg" style="margin-left: 8px;color: red;"></md-icon>
					</md-button>
				
				<input ng-model="searchFilter.instanceTitle" style="max-width: 290px">
			</md-input-container>
	
		</md-content>
		<md-divider></md-divider>
		
	</md-dialog-content>
	
	<md-dialog-actions layout="row" layout-align="left center" style="padding-left:0">
		<md-button class="md-raised md-primary" ng-click="cancel()">{{ 'confirm' | translate }}</md-button>
	</md-dialog-actions>
</md-dialog>