<md-dialog aria-label="{{ 'iconSelect' | translate }}" ng-style="{'min-width': '600px'}">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{workflowDefinition.name}} {{ 'iconSelect' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <!--<md-dialog-content style="max-width:800px;max-height:810px; ">-->

        <md-dialog-content layout-padding>
            <!--md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8"-->
            <md-grid-list
                    md-cols="4"
                    md-row-height-gt-md="1:1" md-row-height="4:3"
                    md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
                <md-grid-tile class="md-avatar" ng-repeat="avatar in avatars" md-colspan="1" md-rowspan="1">
                    <md-icon md-svg-src="img/avatars/{{avatar.filename}}" ng-style="{'width':'50%', 'height':'50%'}"
                             ng-click="answer(avatar)">
                    </md-icon>
                    <md-grid-tile-footer style="height: 20px"><h3>{{avatar.name}}</h3></md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-dialog-content>
    </form>
</md-dialog>