<md-dialog aria-label="Owner Filter">
    <form>

        <section layout="column">
            <md-list>
                <md-list-item>
                    <md-checkbox ng-model="ownerChoice.selected"></md-checkbox>
                    <p class="md-title">All Owners</p>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
                <md-list-item ng-repeat="ownerChoice in [{selected: true, name: 'R&D'}, {selected: true, name: 'low department'}, {selected: true, name: 'logistics'}]">
                    <md-checkbox ng-model="ownerChoice.selected"></md-checkbox>
                    <p>{{ownerChoice.name}}</p>
                </md-list-item>
            </md-list>
        </section>

        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="answer('not useful')" >
                Ok
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;" >
                Cancel
            </md-button>
        </div>
    </form>
</md-dialog>
