<section layout="row" style="overflow: hidden; height: 100%; width:100%">

	<div layout="row" layout-align="center center" ng-if="showProgressBar" style="height: 100%; width:100%">
		<md-progress-circular md-diameter="25" md-mode="indeterminate"></md-progress-circular>
	</div>

	<div flex class="infoMessage" ng-if="showNoData && !showProgressBar" style="position: relative;">
		<md-card layout="row" layout-align="center center" style="width:100%; line-height: 32px; background-color: #d84315; margin: 0;">
			<md-card-content layout-align="center center">
				<md-icon md-svg-icon="img/icons/info.svg" style="height: 32px; width: 32px; margin-right: 10px;"></md-icon>
				<span style="display: inline-block; vertical-align: middle; padding-right: 15px; color:white">{{'noDataFound' | translate }}</span>
			</md-card-content>
		</md-card>
	</div>

	<md-content flex ng-if="!showNoData && !showProgressBar">

		<md-list flex>
			<md-subheader class="md-no-sticky" style="padding-top:0; padding-left: 5px;">{{ngModel.name}}</md-subheader>
			<md-list-item class="md-2-line" ng-repeat="item in data | orderBy:'-value'">
			
				<div class="md-list-item-text" layout="column">
					<h3>{{ item.label }}</h3>
					
					<section layout="row">
						<p flex>{{ 'tasks' | translate }}</p>
						
						<div layout="row" flex="15" layout-align="end end">
							<p>{{ item.value }}</p>
						</div>
					</section>
						
				</div>

				<md-divider></md-divider>
				
			</md-list-item>
		</md-list>
		
	</md-content>
</section>