<div layout="column" layout-padding>
	<nlk-print-form-item ng-repeat="item in taskForm" wf-preview="true" class="print" style="padding:5px 0px"
		ng-model="item" wf-document-path="{{documentPath}}">
	</nlk-print-form-item>
	
	<md-divider></md-divider>
	
<!-- 	<section layout="row"> -->
<!-- 		<div class="printFooter"> -->
<!-- 			<img ng-src="img/icons/wf-logo.svg" style="width: 100px"; height="100px"/> -->
<!-- 			<h1 class="md-title application-title">GRNET::workflow</h1> -->
<!-- 		</div> -->
<!-- 	</section> -->
 </div>
