<section layout="column">

    <md-toolbar>
        <div class="md-toolbar-tools">

            <md-button id="menu-button" class="md-icon-button" aria-label="Menu" ng-click="toggle()" hide-gt-md>
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>

            <md-icon md-svg-icon="img/icons/wf-logo.svg" style="height: 48px; width: 48px"></md-icon>

			<div hide-sm layout-padding>
            	<h1 class="md-title application-title">workflow::workspace</h1>
            	<h2 class="md-subhead page-title">{{ 'completedTasks' | translate }}</h2>
            </div>
            
            <span flex></span>
            
            <md-button class="md-icon-button" ng-click="showProcessFilterDialog($event)" aria-label="filter" hide-gt-sm>
                <md-icon md-svg-icon="img/icons/filter.svg"></md-icon>
            </md-button>

            <div layout="column">
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Sort-By" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin md-svg-icon="img/icons/sort-by.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="option in options" ng-click="sortBy(option.id)">
                            <md-button>
                                <div layout="row">
                                    <p flex>{{option.title | translate }}</p>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </md-toolbar>
    
    	<section layout="row" layout-padding>

		<md-whiteframe class="md-whiteframe-2dp" flex="35">

		<section layout="column" style="margin-bottom: 32px">

			<section layout="row" class="md-block">
				<label for="date-after" flex="35" class="wf-label">{{ 'completedAfter' | translate }}</label>
				<md-datepicker id="date-after" ng-model="searchFilter.dateAfter" md-placeholder="completed after" ng-change="showTasksByFilters()" style="margin-right: 0px;"></md-datepicker>
				<md-button class="md-icon-button" aria-label="Clear" ng-click="clearAfterDate()">
					<md-icon md-svg-icon="img/icons/clear.svg" style="margin-left: 8px;color: red;"></md-icon>
				</md-button>
			</section>

			<section layout="row" class="md-block">
				<label for="date-before" flex="35" class="wf-label">{{ 'completedBefore' | translate }}</label>
				<md-datepicker id="date-before" ng-model="searchFilter.dateBefore" md-placeholder="completed before" ng-change="showTasksByFilters()" style="margin-right: 0px;"></md-datepicker>
				<md-button class="md-icon-button" aria-label="Clear" ng-click="clearBeforeDate()">
					<md-icon md-svg-icon="img/icons/clear.svg" style="margin-left: 8px;color: red;"></md-icon>
				</md-button>
			</section>

		</section>

		<md-input-container class="md-block">
			<label for="workflowDefinitions">{{ 'processes' | translate }}</label>
			<md-select ng-model="searchFilter.definitionId" ng-change="showTasksByFilters()">
				<md-option ng-repeat="definition in definitions" ng-value="definition.processDefinitionId" id="workflowDefinitions">
				{{definition.name | translate }} 
				</md-option> 
			</md-select> 
			</md-input-container> 
			
			<md-input-container class="md-block wf-with-confirm">
				<label for="workflowInstances">{{ 'executions' | translate }}</label>
				<md-button ng-click="showTasksByFilters()" class="md-icon-button wf-confirm-button" style="display: inline-block; position: absolute; top: 0; right: -45px" aria-label="Search"> 
					<md-icon md-svg-icon="img/icons/check.svg" style="color:green"></md-icon>
			 </md-button>
				 <input ng-model="searchFilter.instanceTitle">
			 </md-input-container>
			 
		</md-whiteframe>

		<section layout="column" class="wait-icon" ng-if="fetchingTasks.state">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</section>
		
		<md-list flex ng-if="tasks.length == 0">
			<div layout-padding>{{ 'noCompletedTasks' | translate }}</div>
		</md-list>
		
		<md-list flex ng-if="tasks.length > 0">
			<md-card ng-repeat="task in tasks | orderBy:orderByOption">
				<md-list-item class="md-3-line" ng-click="goTo('/completed/' + task.id)">
					<img ng-src="{{imagePath + task.icon}}" class="md-avatar" alt="{{task.name}}" />
					<div class="md-list-item-text" layout="column">
						<h3>{{task.processInstance.title}}</h3>
						<p> {{task.name}}
							<span class="cardInline">{{ 'completedBy' | translate }} : {{task.assignee}}</span>
						</p>
						<p>{{ 'on' | translate }} : {{task.endDate | date:'d/M/yyyy'}}</p>
					</div>
				</md-list-item>
			</md-card>
		</md-list>
	</section>
</section>
