<md-toolbar>
	<div class="md-toolbar-tools" style="padding-left:10px;">
	
		<md-button class="md-icon-button" aria-label="Menu" ng-click="toggle()" hide-gt-md>
			<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
		</md-button>
		
		<md-button class="md-icon-button" aria-label="Back" ng-click="back()">
			<md-icon md-svg-icon="img/icons/back.svg"></md-icon>
		</md-button>
		
		<md-icon md-svg-icon="img/icons/wf-logo.svg" style="height: 48px; width: 48px"></md-icon>
		
		<div hide-sm layout-padding>
			<h1 class="md-title application-title">workflow::workspace</h1>
			<h2 class="md-subhead page-title">{{ 'taskDetails' | translate }}</h2>
		</div>
		
		<span flex></span>
		
		<md-button ng-if="task.taskDetails.description" class="md-icon-button" aria-label="task details" ng-click="showTaskDetails($event)">
			<md-icon md-svg-icon="img/icons/info.svg"></md-icon>
		</md-button>
		
		<md-button class="md-icon-button" aria-label="Menu" ng-click="goTo('/documents/task/' + task.id)">
			<md-icon md-svg-icon="img/icons/folder.svg"></md-icon>
		</md-button>
		
		<md-button class="md-icon-button" aria-label="print start form" ng-click="goTo('/print/instance/' + task.processInstance.id + '/task/' + task.id)">
			<md-icon md-svg-icon="img/icons/print.svg"></md-icon>
		</md-button>
		
		<md-button class="md-icon-button" aria-label="Show Progress Diagram" ng-click="showProgressDiagram($event)">
			<md-icon md-svg-icon="img/icons/bpmn.svg"></md-icon>
		</md-button>
	</div>
</md-toolbar>

<md-tabs md-border-bottom md-autoselect flex style="margin-top:8px;" class="wf-tabs">

	<!-- Task Details -->
	<md-tab label="{{ 'task' | translate }}" md-on-select="onTabSelected('task')">
	
		<section layout="column" class="wait-icon" ng-if="showProgress">
			<md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
		</section>
		
		<md-content class="transparent" ng-if="!showProgress">
			<md-card>
				<md-card-content>
				
					<div class="card-header">
						<md-icon md-svg-src="img/avatars/{{task.icon}}" class="md-avatar" style="width: 40px; height: 40px; vertical-align: middle"></md-icon>
						<div class="after-icon">
							<h2 class="md-title">[{{task.processInstance.title}}] {{task.name}}</h2>
							<p class="md-subhead">{{ 'process' | translate}}: {{task.definitionName}}</p>
						</div>
					</div>
					
					<section layout="row" layout-sm="column" layout-align="start center">
					
						<md-input-container class="md-block" flex="15" style="padding-right:15px">
							<label for="startDate">{{ 'startDate' | translate }}</label>
							<input id="startDate" ng-model="startDate" readonly disabled>
						</md-input-container>
						
						<div ng-if="taskDelay(task) < 1" layout="row" layout-align="start start" style="margin-right:15px">
							<md-icon ng-class="taskDelay(task) < 1 ? (taskDelay(task) < 0 ? 'delayed' : 'nearDelayed') : 'removeIcon'" 
								style="position:relative; top: -12px" md-svg-icon="img/icons/delayed-notification.svg">
							</md-icon>
						</div>
						
						<md-input-container class="md-block" flex="15" ng-if="task.dueDate" style="padding-right:15px">
							<label for="dueDate">{{ 'dueTo' | translate }}</label>
							<input id="dueDate" ng-model="dueDate" readonly disabled>
						</md-input-container>
						
						<md-input-container class="md-block" flex="15" ng-if="task.endDate" style="margin-right:15px">
							<label for="endDate">{{ 'endDate' | translate }}</label>
							<input id="endDate" ng-model="endDate" readonly disabled>
						</md-input-container>

					</section>

					<section layout-align="start center" ng-if="task.description">
						<label for="taskDescription" >{{ 'description' | translate }}</label>
						<div id="taskDescription" ng-bind-html="task.description" class="disabledLabel" disabled>{{task.description}}</div>
					</section>

					<md-input-container class="md-block"></md-input-container>
					
				</md-card-content>
			</md-card>
			
			<!-- Task's form/actions -->
			<md-card flex layout-padding>
				<md-card-content style="position: relative; padding-bottom: 0;">
				
					<form name="taskForm">
						<nlk-process-form-item ng-repeat="item in task.taskForm" wf-preview="!task.assignee" ng-model="item" wf-document-path="{{documentPath}}"></nlk-process-form-item>
					</form>
					
					<md-divider style="padding-bottom: 5px;"></md-divider>
					
					<!-- Actions with no approve doc -->
					<section flex layout="row" layout-align="start end" ng-if="approveAction == null">
					
						<md-button class="md-raised md-primary" ng-if="!task.assignee" ng-click="claimTask()" style="margin-left: 0px;">{{ 'start' | translate }}</md-button>
						
						<md-button class="md-raised md-primary" ng-disabled="!taskForm.$valid" ng-if="task.assignee" style="margin-left: 0px;" 
							ng-click="completeTask()">{{ 'complete' | translate }}
						</md-button>
						
						<md-button class="md-raised" ng-disabled="!taskForm.$valid" ng-click="temporarySave()" ng-if="task.assignee" style="margin-left: 0px;">{{ 'tempSave' | translate }}</md-button>
					</section>
					
					<!-- Actions with approve doc -->
					<section flex  layout="row" layout-align="start end" ng-if="approveAction != null">
					
						<md-button class="md-raised md-primary" ng-if="!task.assignee" ng-class="{'md-accent': (taskForm.$dirty && taskForm.$valid) }"
							ng-click="claimTask()" style="margin-left: 0px;">{{ 'start' | translate }}
						</md-button>
						
						<md-button class="md-raised md-primary" ng-if="task.assignee" ng-click="acceptTask(true)" style="margin-left: 0px;">{{ 'accept' | translate }}</md-button>
						
						<md-button class="md-raised md-warn" ng-if="task.assignee" ng-click="acceptTask(false)" style="margin-left: 0px;">{{ 'reject' | translate }}</md-button>
					
					</section>
				</md-card-content>
			</md-card>
		</md-content>
	</md-tab>
		
	<!-- Completed Tasks -->
	<md-tab label="{{ 'executionHistory' | translate }}" md-on-select="onTabSelected('executionHistory')">
		<div class="animate-switch-container" ng-switch on="executionActiveView">
		
			<md-content class="animate-switch page" ng-switch-when="list">
			
				<md-list flex style="padding-top:0">
					<md-card ng-repeat="task in historyTasks">
						<md-list-item class="md-2-line" ng-click="goToCompletedTask(task.id)">
							<div class="md-list-item-text" layout="column">
								<h3>[{{task.processInstance.title}}] {{task.name}}</h3>
								<p>{{task.name}}
									<span ng-if="task.dueDate" class="cardInline" >{{ 'dueTo' | translate }} : {{task.dueDate | date:'d/M/yyyy'}}
										<md-icon ng-class="taskDelay(task) < 1 ? (taskDelay(task) < 0 ? 'delayed' : 'nearDelayed') : 'removeIcon'"
											md-svg-icon="img/icons/delayed-notification.svg">
										</md-icon>
									</span>
									<span class="cardInline">{{task.assignee}}</span>
								</p>
							</div>
						</md-list-item>
					</md-card>
				</md-list>
		 	</md-content>
		 	
		 	<!-- Completed Task's Details -->
		 	<md-content class="animate-switch transparent" ng-switch-when="form">
	 			<md-card>
	 				<md-card-content>
	 				
						<div class="card-header">
							<md-icon md-svg-src="img/avatars/{{historicTask.icon}}" class="md-avatar" style="width: 40px; height: 40px; vertical-align: middle"></md-icon>
							<div class="after-icon">
								<h2 class="md-title">[{{task.processInstance.title}}] {{task.name}}</h2>
								<p class="md-subhead">{{ 'process' | translate}}: {{task.definitionName}}</p>
							</div>
						</div>
						
			 			<!-- Task's dates -->
			 			<section layout="row" layout-sm="column" layout-align="start center">
			 			
			 				<md-input-container class="md-block" flex="15" style="padding-right:15px">
		 						<label for="startDate">{{ 'startDate' | translate }}</label>
			 					<input id="startDate" ng-model="historicStartDate" readonly disabled>
		 					</md-input-container>
		 					
							<div ng-if="taskDelay(historicTask) < 1" layout="row" layout-align="start start" style="margin-right:15px">
								<md-icon ng-class="taskDelay(historicTask) < 1 ? (taskDelay(historicTask) < 0 ? 'delayed' : 'nearDelayed') : 'removeIcon'" 
									style="position:relative; top: -12px" md-svg-icon="img/icons/delayed-notification.svg">
								</md-icon>
							</div>
		 						
		 					<md-input-container class="md-block" flex="15" ng-if="historicTask.dueDate" style="padding-right:15px">
		 						<label for="dueDate">{{ 'dueTo' | translate }}</label>
		 						<input id="dueDate" ng-model="historicDueDate" readonly disabled>
							</md-input-container>
								
							<md-input-container class="md-block" flex="15" ng-if="historicTask.endDate">
								<label for="endDate">{{ 'endDate' | translate }}</label>
								<input id="endDate" ng-model="historicEndDate" readonly disabled>
							</md-input-container>
							
						</section>

						<section layout-align="start center" ng-if="historicTask.description">
							<label for="processDescription">{{ 'description' | translate }}</label>
							<div id="processDescription" ng-bind-html="historicTask.description" class="disabledLabel" disabled>{{historicTask.description}}</div>
						</section>

						<md-input-container class="md-block"></md-input-container>

						<section layout="row" layout-align="start center">
							<md-input-container class="md-block" flex="30" ng-if="task.endDate">
								<label for="taskAssignee">{{ 'completedBy' | translate }}</label>
								<input id="taskAssignee" ng-model="historicTask.assignee" readonly style="width:99%;text-overflow: ellipsis;" disabled>
							</md-input-container>
						</section>	
							 				
	 				</md-card-content>
	 			</md-card>
		 				
	 			<md-card>
	 				<md-card-content>
	 				
	 					<form name="historicTaskForm">
	 						<nlk-process-form-item ng-repeat="historicItem in historicTask.taskForm" wf-preview="true" 
	 							ng-model="historicItem" wf-document-path="{{documentPath}}" style="display:block" wf-id-prefix="historicMap">
							</nlk-process-form-item>
 						</form>
						
						<md-divider></md-divider>
					
						<div layout="row" layout-align="start center" style="padding-left: 0px;padding-top: 10px;">	
							<md-button class="md-raised" ng-click="goBack()" arial-label="close" style="margin:0px">{{ 'close' | translate }}</md-button>
						</div>
						
	 				</md-card-content>
 				</md-card>
			</md-content>
		</div>
	</md-tab>
</md-tabs>
