<md-toolbar>
	<div class="md-toolbar-tools">

		<md-button class="md-icon-button" aria-label="Menu" ng-click="toggle()" hide-gt-md>
			<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
		</md-button>

		<md-icon md-svg-icon="img/icons/wf-logo.svg" style="height: 48px; width: 48px"></md-icon>

		<div hide-sm layout-padding>
			<h1 class="md-title application-title">workflow::workspace</h1>
			<h2 class="md-subhead page-title">{{ 'assignTasks' | translate }}</h2>
		</div>

		<div class="print-heading">
			<h1 class="md-title application-title">Grnet Workflow</h1>
			<h2 class="md-subhead page-title">{{'assignTasks' | translate }}</h2>
		</div>

		<span flex></span>

		<div layout="column">

			<md-menu md-position-mode="target-right target">
				<md-button aria-label="Sort-By" class="md-icon-button" ng-click="$mdOpenMenu($event)">
					<md-icon md-menu-origin md-svg-icon="img/icons/sort-by.svg"></md-icon>
				</md-button>

				<md-menu-content width="4">
					<md-menu-item ng-repeat="option in options" ng-click="sortBy(option.id)">
						<md-button aria-label="Menu button">
							<div layout="row">
								<p flex>{{ option.title | translate }}</p>
							</div>
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>

		</div>
	</div>
</md-toolbar>

<section layout="row" class="transparent main-section" style="padding-bottom: 8px;" flex>

	<!-- Process Filter -->
	<div layout="column" flex="35" class="criteria-options" style="overflow: auto">
		<md-card>

			<md-subheader class="md-primary">{{ 'definitionSelection' | translate }}</md-subheader>

			<md-divider></md-divider>

			<md-card-content>
				<md-list class="filter-list" style="padding: 0;">

					<md-list-item class="wf-selectAll">
						<md-checkbox class="md-primary" ng-change="selectAll()" ng-model="status.selectAll"></md-checkbox>
						<p>{{ 'showAll' | translate }}</p>
					</md-list-item>

					<md-divider ng-if="!$last"></md-divider>

					<md-list-item ng-repeat="process in processes">
						<md-checkbox class="md-primary" ng-model="process.selected" ng-change="updateFilteredTasks()" ng-value="process.id"></md-checkbox>
						<p>{{process.title}}</p>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>

				</md-list>
			</md-card-content>
		</md-card>
	</div>

	<md-tabs md-border-bottom md-autoselect flex style="margin-top:8px;" class="wf-tabs" md-whiteframe="2">
		<md-tab label="{{ 'new' | translate }}" md-on-select="onTabSelected('new')">

			<section layout="column" class="wait-icon" ng-if="showProgressBar">
				<md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
			</section>

			<md-content flex class="transparent" style="padding-top: 8px;">

				<div layout="row" layout-align="center start" flex class="warning-message" ng-if="unAssignedFiltered.length == 0">
					<md-card>
						<md-card-content layout-align="center center">
							<md-icon md-svg-icon="img/icons/info.svg"></md-icon>
							<span>{{'noTasksToAssign' | translate }}</span>
						</md-card-content>
					</md-card>
				</div>

				<!-- Unassigned tasks -->
				<md-list flex style="padding-top: 0;">
					<md-card ng-repeat="task in unAssignedFiltered | orderBy:orderByOption">
						<md-list-item class="md-2-line" ng-click="goTo('/assign/' + task.id)">
							<img ng-src="{{imagePath + task.icon}}" class="md-avatar" alt="{{task.name}}" />

							<div class="md-list-item-text" layout="column">
								<h3>{{task.processInstance.title}}</h3>
								<p>{{task.name}}
									<span ng-if="task.dueDate" class="cardInline">{{ 'dueTo' | translate }} : {{task.dueDate | date:'d/M/yyyy H:mm'}}
						 				<md-icon ng-class="taskDelay(task) < 1 ? (taskDelay(task) < 0 ? 'delayed' : 'nearDelayed') : 'removeIcon'"
						 					md-svg-icon="img/icons/delayed-notification.svg">
						 				</md-icon>
						 			</span>
								</p>
							</div>

						</md-list-item>
					</md-card>
				</md-list>

			</md-content>
		</md-tab>

		<md-tab label="{{ 'assigned' | translate }}" md-on-select="onTabSelected('assigned')">

			<md-content flex class="transparent" style="padding-top: 8px;">

				<div layout="row" layout-align="center start" flex class="warning-message" ng-if="assignedFiltered.length == 0">
					<md-card>
						<md-card-content layout-align="center center">
							<md-icon md-svg-icon="img/icons/info.svg"></md-icon>
							<span>{{'noAssignedTasks' | translate }}</span>
						</md-card-content>
					</md-card>
				</div>

				<!-- Assigned tasks -->
				<md-list flex style="padding-top: 0;">
					<md-card ng-repeat="task in assignedFiltered | orderBy:orderByOption">
						<md-list-item class="md-2-line" ng-click="goTo('/assign/' + task.id)">
							<img ng-src="{{imagePath + task.icon}}" class="md-avatar" alt="{{task.name}}" />

							<div class="md-list-item-text" layout="column">
								<h3>{{task.processInstance.title}}</h3>
								<p>{{task.name}}
									<span ng-if="task.dueDate" class="cardInline">{{ 'dueTo' | translate }} : {{task.dueDate | date:'d/M/yyyy H:mm'}}
										<md-icon ng-class="taskDelay(task) < 1 ? (taskDelay(task) < 0 ? 'delayed' : 'nearDelayed') : 'removeIcon'" 
											md-svg-icon="img/icons/delayed-notification.svg">
										</md-icon>
									</span>
									<span class="cardInline">{{task.assignee}}</span>
								</p>
							</div>
						</md-list-item>
					</md-card>
				</md-list>

			</md-content>
		</md-tab>
	</md-tabs>
</section>