<section layout="column">

    <md-toolbar>
        <div class="md-toolbar-tools">

            <md-button id="menu-button" class="md-icon-button" aria-label="Menu" ng-click="toggle()" hide-gt-lg>
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>

            <md-icon md-svg-icon="img/icons/wf-logo.svg" style="height: 48px; width: 48px"></md-icon>

            <span class="md-title" hide-sm layout-padding>workflow::workspace</span>
            <span flex></span>

            <md-button class="md-icon-button" ng-click="showProcessFilterDialog($event)" aria-label="filter" hide-gt-sm>
                <md-icon md-svg-icon="img/icons/filter.svg"></md-icon>
            </md-button>

            <div layout="column">
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="Sort-By" class="md-icon-button"
                               ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin md-svg-icon="img/icons/sort-by.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="sortOption in ['by Process', 'by Task', 'by Date']">
                            <md-button>
                                <div layout="row">
                                    <p flex>{{sortOption}}</p>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </md-toolbar>

    <section layout="row">

        <!-- Process filtering ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <nlk-checklist all-label="All Processes"
                       checklist-model="processesSupervised"
                       checklist-selected="processesSelected"
                       checklist-value-field="id"
                       all-selected="true">
        </nlk-checklist>

        <!-- Task to claim list ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <md-content flex class="mainList" layout-padding ng-style="{position: 'relative'}">

            <section layout="column" class="wait-icon" ng-if="!tasksToAssign">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </section>

            <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="task in tasksToAssign"
                              ng-click="goTo('/assign/' + task.id)">
                    <img ng-src="{{imagePath + task.process.icon}}" class="md-avatar" alt="{{task.process.name}}"/>

                    <div class="md-list-item-text" layout="column">
                        <h3>{{ task.process.name }}</h3>

                        <p>{{task.name}}</p>
                    </div>

                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </section>

</section>
