<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GRNET.workflow-manager</title>

    <link rel="stylesheet" href="css/lib.css"/>
    <link rel="stylesheet" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic&subset=latin,greek">


    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>

</head>

<body ng-controller="NavBarCtrl" md-swipe-right="onSwipeRight()" md-swipe-left="onSwipeLeft()" class="noselect" data-ng-init="initializePages()">

<div layout="row" flex>
	 <md-sidenav id="navbar" flex="24" class="md-sidenav-left md-whiteframe-z2 ng-cloak" md-component-id="navbar" md-is-locked-open="$mdMedia('gt-md')" ng-cloak>
	 
		<md-content layout-padding>
			<md-list flex>
	      		<md-list-item ng-repeat="page in pages" ng-click="goTo(page.path)" ng-disabled="page.disabled">
	            	<div>
	            		<md-icon class="md-primary" ng-if="page.icon" md-svg-icon="{{'img/icons/' + page.icon}}" style="padding-right:10px; color:{{page.color}}"></md-icon>
	                	<p flex style="display: inline-block;vertical-align: middle;">{{page.title | translate }}</p>
	               	</div>
	               	<md-divider></md-divider>
	           	</md-list-item>
	           	
	           	<md-list-item ng-click="logout()">
	           		<div>
	           			<md-icon md-svg-icon="img/icons/logout.svg" style="padding-right:10px"></md-icon>
	          			<p flex style="display: inline-block;vertical-align: middle;">{{ 'logout' | translate }}</p>
	         		</div>
	        	</md-list-item>
	    	</md-list>
		</md-content>
    </md-sidenav>
    
    <section ng-view flex ng-cloak class="ng-cloak"></section>

</div>
<script src="js/util/core.js"></script>
<script src="js/keycloak.min.js"></script>
<script src="js/lib.js"></script>
<script src="js/app.js"></script>
<script src="js/services/authprovider.js"></script>
<script src="js/services/processservice.js"></script>
<script src="js/directives/nlkFileInput.js"></script>
<script src="directives/wfDocumentInput/wfDocumentInput.js"></script>
<script src="directives/wfPositionInput/wfPositionInput.js"></script>
<script src="directives/wfConversation/wfConversation.js"></script>
<script src="js/controllers/navbar.js"></script>
<script src="js/directives/nlk-process-form.js"></script>
<script src="js/directives/nlk-process-form-item.js"></script>
<script src="js/controllers/adddefinition.js"></script>
<script src="js/controllers/processdetail.js"></script>
<script src="js/controllers/processlist.js"></script>
<script src="js/controllers/pending.js"></script>
<script src="js/controllers/history.js"></script>
<script src="js/controllers/activity.js"></script>
<script src="js/controllers/settings.js"></script>
<script src="js/controllers/instance-details.js"></script>
<script src="js/controllers/task-details.js"></script>
<script type="text/javascript" src="js/angular-translate.min.js"></script>
<script type="text/javascript" src="js/angular-translate-loader-static-files.js"></script>
</body>
</html>