* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: Roboto, sans-serif;
	background-color: #fafafa;
	width: 100%;
	height: 100%;
}

p, h3 {
	margin: 0px;
}

md-radio-button:focus {
    outline: none;
}

.layout-content {
	max-width: 960px;
	margin: auto;
}

.mainList {
	height: 600px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.avatar {
	width: 40px;
	height: 40px;
}

.nav-bar {
	min-width: 250px;
}

.navItem p {
	display: inline-block;
	vertical-align: middle;
}

.navItem md-icon {
	padding-right:10px;
}

.app-logo {
	height: auto;
	width: 48px;
}

.main-section {
	overflow: hidden;
	height:100%
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.wfinstance-list-item {
	background-color: #eee;
	margin-bottom: 1px;
	min-height: 54px;
	display: block;
	padding: 8px !important;
}

.wfinstance-list-item h3 {
	padding: 0;
	margin: 0;
}

.xforms-toolbar {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	margin-top: 24px;
	margin-bottom: 10px;
	min-height: unset;
}

.add-xform {
	background-color: #000 !important;
	line-height: 20px !important;
	padding: 6px !important;
}

/* Application title / page title */
.application-title {
	padding-bottom: 0px;
	padding-top: 2px;
	font-size: 18px !important;
}

.page-title {
	padding-top: 2px;
	padding-bottom: 0px;
	font-size: 16px !important;
}

/* md-container custom classes with buttons*/
.wf-with-confirm {
	margin-right: 35px;
}

.wf-with-confirm.md-has-icon {
	left: 0px !important;
	padding-left: 0px;
}

.wf-with-confirm.md-has-icon>label {
	left: 0px !important;
}

.wf-label {
	padding-top: 15px;
	font-size: 13px;
	padding-left: 2px;
}

/* Select all checkboxes/etc */
.wf-selectAll {
	font-size: 18px;
}

.md-sidenav-backdrop {
	position: fixed;
}

.md-sidenav-left {
	position: fixed;
}

.md-datepicker-input-container {
	margin-left: 0;
}

/*Task's style class according to due date*/
.delayed {
	color: red;
}

.nearDelayed {
	color: #ffbb00;
}

.removeIcon {
	display: none;
}

div.wf-wait {
	width: 100%;
	height: 100%;
}

.wf-wait md-progress-circular {
	position: absolute;
	right: 50%;
	top: 20%;
}

.cardInline {
	display: inline-block;
	margin-left: 20px;
	padding-left: 10px;
	border-left: 1px solid #e0e0e0;
}

div.card-header {
	margin-bottom: 30px;
}

.after-icon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 20px;
}

.animate-switch-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.animate-switch.ng-animate {
	transition: 0.8s;
	background-color: white;
	position: relative;
	left: 0;
	top: 0;
	position: relative;
	width: 100%;
	height: 100%;
}

.animate-switch.ng-leave.ng-leave-active, .animate-switch.ng-enter {
	position: relative;
	left: 100%;
	top: 0;
}

.animate-switch.ng-leave, .animate-switch.ng-enter.ng-enter-active {
	position: absolute;
	left: 0;
	top: 0;
}

.docInputDoc {
	padding-right: 5px;
	margin-right: 10px;
}

.docInputRef {
	margin-left: 10px;
}

.transparent {
	background-color: transparent;
}

.nonTransparent {
	background-color: white !important;
}

.wf-tabs md-tab-item {
	background-color: white;
}

.wf-tabs md-tab-content {
	background-color: #fafafa;
}

.subheadToolbar .md-subheader-inner {
	padding: 8px;
}

.socialmedia-card {
	width: 14%;
	height: 315px;
}

.socialmedia-card md-card-title {
	flex: 0 0 0;
	background-color: rgba(0, 0, 0, .5);
	padding-top: 2px;
}

.socialmedia-card md-card-title-text {
	color: #fff;
	display: block;
}

.socialmedia-card .md-headline {
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}

.socialmedia-card .md-subhead {
	color: #fff !important;
	font-size: 11px;
	line-height: 14px;
	padding-top: 4px !important;
}

.socialmedia-card md-card-actions {
	flex: 1 0 0;
}

.socialmedia-card .md-button {
	margin-top: auto !important;
	background: rgba(255, 255, 255, .4) !important;
}

.socialmedia-card .md-card-image {
	width: 50%;
}

.socialmedia-card md-icon {
	color: black;
}

.card-header h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.dialogActions {
	padding-left: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.03);
	border-top-color: rgba(0, 0, 0, 0.12);
	border-top: 1px solid rgba(0, 0, 0, .12);
}

/** Warning message md-card **/

.warning-message md-card {
	width:100%;
	line-height: 32px;
	background-color: #6895c3; /* #d84315; */
	margin-left: 0;
}

.warning-message md-icon {
	height: 32px;
	width: 32px;
	margin-right: 10px;
}

.warning-message span {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 16px;
}

.navItemSelected {
	background-color: rgba(158, 158, 158, 0.2);
}

.navItemDisabled {
	background-color: #dadada;
	color: #b5b5b5;
}

.navItemDisabled .md-button:hover {
	cursor: no-drop !important;
	background-color: transparent;
}

.dashletHandle .md-toolbar-tools {
	height: 50px;
	min-height: 50px;
}

.dashletHandle {
	height: 50px;
	min-height: 50px;
	background-color: #fff !important;
	color: #000 !important;
}

.dashletHandle:hover {
	cursor: all-scroll;
}

.dashletLabel {
	font-size: 14px;
	display: inline-block;
	max-width: 50%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.dashletWrapper {
	margin:0px;
	background-color: #fafafa;
	display: block;
	height: calc(100% - 50px);
	overflow-y: hidden;
}

.chartContainer {
	width: 100%;
}

.dashletContainer {
	width: 100%;
	height: 100%;
}

.dashletContent {
	padding: 5px;
	height: 100%;
}

.wfDashlet {
	display:block;
	height:100%;
	width:100%
}

.nav-list {
	padding-top: 0
}

.main-wrapper {
	width: 100%;
	height: 100vh
}

.toggle-collapse-header {
    padding: 12px 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 64px;
    box-sizing: border-box;
}

.expanded md-icon {
    transform: rotate(180deg);
}

.formItem-info {
	top: 16px;
	padding: 0px;
	margin: 0px;
}

.deleted-task-instance {
	opacity: 0.5;
	filter: grayscale(100%);
}


.ta-editor {
	min-height: 300px;
	height: auto;
	overflow: auto;
	font-family: inherit;
	font-size: 100%;
	margin: 20px 0;
}

/****************************************************** Printing styling *******************************************************/
.print-heading {
	display: none !important;
}

.non-printing-heading {
	display: block;
}

.criteria-printing-container {
	display: none;
}

.printing-divider {
	display: none;
}

.criteria-options {
	display: block;
}