<md-toolbar>
	<div class="md-toolbar-tools">
	
		<md-button class="md-icon-button" aria-label="Menu" ng-click="toggle()" hide-gt-md>
			<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
		</md-button>
		
		<md-icon md-svg-icon="img/icons/wf-logo.svg" style="height: 48px; width: 48px"></md-icon>
		
		<div hide-sm layout-padding>
			<h1 class="md-title application-title">workflow::manager</h1>
			<h2 class="md-subhead page-title">{{'userActivity' | translate}}</h2>
		</div>
		
		<span flex></span>
		
		<md-button class="md-icon-button" aria-label="Menu" ng-click="goBack()" ng-show="executionActiveView == 'form'">
			<md-icon md-svg-icon="img/icons/back.svg"></md-icon>
		</md-button>
		
		<div layout="column">
			<md-menu md-position-mode="target-right target">
			
				<md-button aria-label="Sort-By" class="md-icon-button" ng-click="$mdOpenMenu($event)">
					<md-icon md-menu-origin md-svg-icon="img/icons/sort-by.svg"></md-icon>
				</md-button>
				
				<md-menu-content width="4">
					<md-menu-item ng-repeat="option in options" ng-click="sortBy(option.id)">
					
						<md-button aria-label="a button">
							<div layout="row">
								<p flex>{{option.title | translate }}</p>
							</div>
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</div>
</md-toolbar>

<section layout="row" style="overflow: hidden; height: 100%">

	<!-- Filtering options -->
	<div layout="column" flex="30">
		<md-card>
			<md-card-content>
			
				<section layout="row" class="md-block">
					<label for="date-from" class="wf-label" style="width: 106px;">{{'startedAfter' | translate}}</label>
					<md-datepicker id="date-after" ng-model="searchFilter.dateAfter" ng-change="searchTasks()" style="margin-right: 0px;"></md-datepicker>
					
					<md-button class="md-icon-button" aria-label="Clear" ng-click="clearDateAfter()">
						<md-icon md-svg-icon="img/icons/clear.svg" style="margin-left: 10px;color: red;"></md-icon>
					</md-button>
				</section>
				
				<section layout="row" class="md-block" style="padding-bottom:10px">
					<label for="date-to" class="wf-label" style="width: 106px;">{{'startedBefore' | translate}}</label>
					
					<md-datepicker id="date-before" ng-model="searchFilter.dateBefore"
					 	ng-change="searchTasks()" style="margin-right: 0px;" md-max-date="maxDateBefore">
					 </md-datepicker>
					
					<md-button class="md-icon-button" aria-label="Clear" ng-click="clearDateBefore()">
						<md-icon md-svg-icon="img/icons/clear.svg" style="margin-left: 10px;color: red;"></md-icon>
					</md-button>
				</section>

				<md-input-container class="md-block" ng-if="!usersLoaded">
					<label for="loadingUsers">{{ 'searchForUser' | translate }}</label>
					<md-select ng-model="selectedUser">
						<md-option id="loadingUsers">{{'usersLoading' | translate}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container class="md-block" ng-if="usersLoaded" >
					<label for="users">{{ 'searchForUser' | translate }}</label>
					<md-select ng-model="searchFilter.user" ng-change="searchTasks()">
						<md-option ng-repeat="user in users" ng-value="user" id="users">{{user.firstName}} {{user.lastName}}</md-option>
					</md-select>
				</md-input-container>

				<md-input-container class="md-block" ng-if="enableProcessFilter">
					<label for="workflowDefinitions">{{ 'processes' | translate }}</label>
					<md-select ng-model="groupFilter.definitionId" ng-change="filterTasksByDefinition()">
						<md-option ng-repeat="definition in definitions" ng-value="definition.id" id="workflowDefinitions">{{definition.title | translate }}</md-option>
					</md-select>
				</md-input-container>
				
				<md-divider style="margin-top: 20px;"></md-divider>
				
				<md-button class="md-raised" aria-label="Clear" ng-click="clearAllFilters()" style="margin-left: 0; margin-top: 15px;">
					{{ 'clearFilters' | translate }}
				</md-button>
				
			</md-card-content>
		</md-card>
	</div>
	
	<md-content flex class="transparent" style="height: 100%">
		<div layout="row" layout-align="center start" flex class="infoMessage" ng-if="filteredTasks === null || filteredTasks.length == 0">
			<md-card style="width:100%; line-height: 32px; background-color: #d84315">
				<md-card-content layout-align="center center">
					<md-icon md-svg-icon="img/icons/info.svg" style="height: 32px; width: 32px; margin-right: 10px;"></md-icon>
					<span style="display: inline-block; vertical-align: middle; color:white">{{'noTasksForUser' | translate }}</span>
				</md-card-content>
			</md-card>
		</div>

		<div class="animate-switch-container" ng-switch on="activeView" flex style="height: auto;width: auto;" style="height: 100%">

			<section layout="column" class="wait-icon" ng-if="showProgress">
				<md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
			</section>
		
			<!-- Task list -->
			<section layout="row" class="animate-switch" ng-switch-when="taskList" ng-if="!showProgress">
				<md-list flex style="padding-top:0px">
					<md-card ng-repeat="task in filteredTasks | orderBy:orderByOption" style="margin-left: 0;">
						<md-list-item class="md-3-line" ng-click="goToDetails(task)">
							<img ng-src="{{imagePath + task.icon}}" class="md-avatar" alt="{{task.name}}" />
							<div class="md-list-item-text" layout="column">
								<h3>{{task.name}}</h3>
								<p flex>{{ 'processInstanceName' | translate }}: {{task.processInstance.title}}</p>
								<p flex>{{ 'process' | translate}}: {{task.definitionName}}
									<span class="cardInline" ng-if="task.endDate != null">{{'completedOn' | translate }} : {{task.endDate | date:'d/M/yyyy'}}</span>
									<span class="cardInLine" ng-if="task.endDate == null">{{'running' | translate }}</span>
								</p>
							</div>
							<md-icon md-svg-icon="img/icons/stop-sign.svg" ng-if="task.processInstance.status == 'deleted'" title="deleted"
								style="margin-bottom: 0;height: 18px; width: 18px;">
							</md-icon>
						</md-list-item>
					</md-card>
				</md-list>
			</section>
			
			<!-- Task's details -->
			<md-content  class="animate-switch transparent" ng-switch-when="taskDetails">
				<md-card style="margin-left: 0px">
					<md-card-content style="position: relative;">
				
						<div class="card-header">
						
							<md-button class="md-icon-button" aria-label="Go back to list" ng-click="goBack()" style="padding-left: 0;margin-left: 0;">
								<md-icon md-svg-src="img/icons/back.svg"></md-icon>
							</md-button>
							
							<md-icon md-svg-src="img/avatars/{{task.icon}}" class="md-avatar" style="width: 40px; height: 40px; vertical-align: middle"></md-icon>
							
							<div class="after-icon">
								<h2 class="md-title">{{task.processInstance.title}}</h2>
								<p class="md-subhead" style="display:block">{{task.name}}</p>
							</div>
							
						</div>
						
						<!-- Task's dates -->
						<section layout="row" layout-align="start center" layout-sm="column">
						
							<md-input-container class="md-block" flex="20" style="padding-right:15px">
								<label for="startDate" class="disabledLabel">{{'startDate' | translate }}</label>
								<input id="startDate" ng-model="startDate" readonly disabled>
							</md-input-container>
							
							<div ng-if="taskDelay(task) < 1" layout="row" layout-align="start start" style="margin-right:15px">
								<md-icon ng-class="taskDelay(task) < 1 ? (taskDelay(task) < 0 ? 'delayed' : 'nearDelayed') : 'removeIcon'" 
									style="position: relative; top: -12px" md-svg-icon="img/icons/delayed-notification.svg">
								</md-icon>
							</div>
							
							<md-input-container class="md-block" flex="20" ng-if="task.dueDate" style="padding-right:15px">
								<label for="dueDate" class="disabledLabel">{{'dueTo' | translate }}</label>
		                  		<input id="dueDate" ng-model="dueDate" readonly disabled>
							</md-input-container>
							
			                <md-input-container class="md-block" flex="20" ng-if="task.endDate">
		                		<label for="endDate" style="white-space: nowrap;" class="disabledLabel">{{'completedOn' | translate }}</label>
		                  		<input id="endDate" ng-model="endDate" readonly disabled>
		               		</md-input-container>

						</section>
						
						<section layout="row" layout-align="start center" style="width: 100%">
						
		               		<md-input-container class="md-block" ng-if="task.description" flex>
		           				<label for="processDescription" class="disabledLabel">{{'description' | translate }}</label>
		           				<textarea id="processDescription" ng-model="task.description" readonly disabled></textarea>
	           				</md-input-container>
	           				
           				</section>
           				
					</md-card-content>
				</md-card>
				
				<!-- Task's form items -->
				<md-card style="margin-left: 0px">
				
					<md-card-content>
						<nlk-process-form-item ng-repeat="item in task.taskForm" wf-preview="true" ng-model="item" wf-document-path="{{documentPath}}"></nlk-process-form-item>
					</md-card-content>
					
				</md-card>
				
			</md-content>
		</div>
	</md-content>
</section>
