<md-toolbar>
	<div class="md-toolbar-tools" style="padding-left:0px;">
	
		<md-button id="menu-button" class="md-icon-button" aria-label="Menu"ng-click="toggle()" hide-gt-md>
			<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
		</md-button>
		
		<md-button id="back-button" class="md-icon-button" aria-label="Back" ng-click="back()">
			<md-icon md-svg-icon="img/icons/back.svg"></md-icon>
		</md-button>
		
		<md-icon md-svg-icon="img/icons/wf-logo.svg" style="height: 48px; width: 48px"></md-icon>
		
		<div hide-sm layout-padding>
			<h1 class="md-title application-title">workflow::manager</h1>
			<h2 class="md-subhead page-title">{{'documents' | translate}}</h2>
		</div>
		
		<span flex></span>
	</div>
</md-toolbar>

<div layout="row" layout-align="center start" flex class="infoMessage" ng-if="documents.length == 0">
	<md-card style="width:100%; line-height: 32px; background-color: #d84315">
		<md-card-content layout-align="center center">
			<md-icon md-svg-icon="img/icons/info.svg" style="height: 32px; width: 32px; margin-right: 10px;"></md-icon>
			<span style="display: inline-block; vertical-align: middle; color:white">{{'noDocumentsAvailable' | translate }}</span>
		</md-card-content>
	</md-card>
</div>

<section layout="column" class="wait-icon" ng-if="showProgress">
	<md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
</section>

<md-content flex class="transparent" style="padding-top: 8px;position:relative" ng-if="documents.length > 0">

	<md-list flex style="padding-top: 0px;">
		<md-subheader sticky-state="next" class="md-primary" md-whiteframe="2" style="margin-right: 8px">{{ 'instanceDocuments' | translate }}</md-subheader>
		
		<md-card ng-repeat="document in documents">
			<a ng-href="{{documentPath}}{{document.documentId}}" target="_blank" style="text-decoration: none;">
				<md-list-item class="md-2-line" style="display: inline;"> 
					<md-icon md-svg-icon="img/icons/pdf.svg" ng-if="document.title.indexOf('pdf') > 0"></md-icon>
					<md-icon md-svg-icon="img/icons/excel.svg" ng-if="document.title.indexOf('xls') > 0 || document.title.indexOf('xlsx') > 0"></md-icon>
					<md-icon md-svg-icon="img/icons/file.svg" ng-if="document.title.indexOf('xls') == -1 && document.title.indexOf('xlsx') == -1 && document.title.indexOf('pdf') == -1"></md-icon>
					
					<div class="md-list-item-text" layout="column" style="vertical-align: middle;display: inline-block;">
						<h3 style="line-height: 2.0em;">{{document.title}}</h3>
						<p style="line-height: 2.0em;">v {{document.version}}</p>
						<p style="line-height: 2.0em;">{{getDateString(document.submittedDate)}}</p>
					</div>
				</md-list-item>
			</a>
			
			<!-- Document's versions -->
			<div ng-if="document.versions.length > 0" ng-repeat="version in document.versions">
			
				<md-divider></md-divider>
				
				<a ng-href="{{documentPath}} {{version.documentId}}" target="_blank" style="text-decoration: none;">
					<md-list-item class="md-2-line" style="display: inline;">
						<md-icon md-svg-icon="img/icons/file.svg"></md-icon>
						
						<div class="md-list-item-text" layout="column" style="vertical-align: middle;display: inline-block;">
							<h3 style="line-height: 2.0em;">{{version.title}}</h3>
							<p style="line-height: 2.0em;">v {{version.version}}</p>
							<p style="line-height: 2.0em;">{{getDateString(version.submittedDate)}}</p>
						</div>
					</md-list-item> 
				</a>
			</div>
		</md-card>
	</md-list>
</md-content>

<!--  
<section layout="column" style="height: 100%;" ng-if="documents.length > 0">

	<div layout="row" layout-align="center center" flex ng-if="showProgress">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	
	<md-list ng-if="documents.length > 0" flex>
		<md-list-item class="md-2-line" ng-repeat="document in documents">
			<div class="md-list-item-text" layout="column">
			
				<a ng-href="{{documentPath}}{{document.documentId}}" target="_blank">
					<h3>{{document.title}} v.{{document.version}}</h3>
				</a>
				
				<p>{{getDateString(document.submittedDate)}}</p>
				
				<md-list ng-if="document.versions.length > 0">
					<md-list-item class="md-2-line" ng-repeat="version in document.versions">
					
						<div class="md-list-item-text" layout="column">
							<a ng-href="{{documentPath}}{{version.documentId}}" target="_blank">
								<h3>{{version.title}} v.{{version.version}}</h3>
							</a>
							
							<p>{{getDateString(version.submittedDate)}}</p>
						</div>
					</md-list-item>
				</md-list>
			</div>
		</md-list-item>
	</md-list>
</section>
-->