<md-toolbar>
	<div class="md-toolbar-tools">
	
		<md-button id="menu-button" class="md-icon-button" aria-label="Menu" ng-click="toggle()" hide-gt-md>
			<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
		</md-button>
		
		<md-icon md-svg-icon="img/icons/wf-logo.svg" style="height: 48px; width: 48px"></md-icon>
		
		<div hide-sm layout-padding>
			<h1 class="md-title application-title">workflow::manager</h1>
			<h2 class="md-subhead page-title">{{'processesHistory' | translate }}</h2>
		</div>
		
		<span flex></span>
	</div>
</md-toolbar>

<section layout="row" style="overflow: hidden; height: 100%">

	<!-- Filtering options -->
	<div layout="column" flex="35">
		<md-card style="margin-right: 0;">
			<md-card-content>
			
				<section layout="row" class="md-block">
					<label for="date-after" flex="45" class="wf-label">{{'completedAfter' | translate }}</label>
					<md-datepicker id="date-after" ng-model="searchFilter.dateAfter" ng-change="searchInstances()" style="margin-right: 0px;"></md-datepicker>
				
					<md-button class="md-icon-button" aria-label="Clear" ng-click="clearDateAfter()">
						<md-icon md-svg-icon="img/icons/clear.svg" style="margin-left: 10px;color: red;"></md-icon>
					</md-button>
				</section>
				
				<section layout="row" class="md-block" style="padding-bottom: 10px;">
					<label for="date-after" flex="45" class="wf-label">{{'completedBefore' | translate }}</label>
					
					<md-datepicker id="date-before" ng-model="searchFilter.dateBefore"
					 	ng-change="searchInstances()" style="margin-right: 0px;" md-max-date="maxDateBefore">
					 </md-datepicker>
					
					<md-button class="md-icon-button" aria-label="Clear" ng-click="clearDateBefore()">
						<md-icon md-svg-icon="img/icons/clear.svg" style="margin-left: 10px;color: red;"></md-icon>
					</md-button>
				</section>
				
				<md-input-container class="md-block wf-with-confirm" style="margin-bottom:0px">
					<label for="workflowInstances" class="enabledLabel">{{ 'executionName' | translate }}</label>
					
						<md-button ng-click="searchInstances()" class="md-icon-button wf-confirm-button" style="display: inline-block; position: absolute; top: 0; right: -10px" aria-label="Search">
							<md-icon md-svg-icon="img/icons/check.svg" style="color:green"></md-icon>
						</md-button>
						
						<md-button class="md-icon-button wf-confirm-button" aria-label="Clear" ng-click="clearInstanceTitle()" style="display: inline-block; position: absolute; top: 0; right: -40px">
							<md-icon md-svg-icon="img/icons/clear.svg" style="margin-left: 8px;color: red;"></md-icon>
						</md-button>
					
					<input ng-model="searchFilter.instanceTitle" style="max-width: 290px">
				</md-input-container>
				
				<md-divider style="margin-top: 20px;"></md-divider>
				
				<md-button class="md-raised" aria-label="Clear" ng-click="clearAllFilters()" style="margin-left: 0; margin-top: 15px;">
					{{ 'clearFilters' | translate }}
				</md-button>
				
			</md-card-content>
		</md-card>
	</div>
	
	<md-content flex class="transparent">	
	
		<div layout="row" layout-align="center start" flex class="infoMessage" ng-if="endedInstances === null || endedInstances.length == 0">
			<md-card style="width:100%; line-height: 32px; background-color: #d84315">
				<md-card-content layout-align="center center">
					<md-icon md-svg-icon="img/icons/info.svg" style="height: 32px; width: 32px; margin-right: 10px;"></md-icon>
					<span style="display: inline-block; vertical-align: middle; color:white">{{'noInstancesForProcess' | translate }}</span>
				</md-card-content>
			</md-card>
		</div>
		
		<md-list flex style="padding-top: 0px;">
			<md-card ng-repeat="instance in endedInstances">
				<md-list-item class="md-2-line" ng-click="goTo('/history/' + instance.id)">
					<img ng-src="{{imagePath + instance.definitionIcon}}" class="md-avatar" alt="{{instance.title}}" />
					<div class="md-list-item-text" layout="column">
						<h3>{{instance.title}}</h3>
						<p ng-if="instance.supervisor">{{'supervisor' | translate }} : {{instance.supervisor}}</p>
					</div>
				</md-list-item>
			</md-card>
		</md-list>
	</md-content>
</section>