<md-toolbar>
	<div class="md-toolbar-tools" style="padding-left: 0px">
	
		<md-button id="menu-button" class="md-icon-button" aria-label="Menu" ng-click="toggle()" hide-gt-md>
			<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
		</md-button>
		
		<md-button class="md-icon-button" aria-label="Back to in progress" ng-click="back()">
			<md-icon md-svg-icon="img/icons/back.svg"></md-icon>
		</md-button>
		
		<md-icon md-svg-icon="img/icons/wf-logo.svg" style="height: 48px; width: 48px"></md-icon>
		
		<div hide-sm layout-padding>
			<h1 class="md-title application-title">workflow::manager</h1>
			<h2 class="md-subhead page-title">{{ 'executionsInProgress' | translate }}</h2>
		</div>
		
		<span flex></span>
		
		<md-button class="md-icon-button" aria-label="Show Progress Diagram" ng-click="showProgressDiagram($event)">
			<md-icon md-svg-icon="img/icons/bpmn.svg"></md-icon>
		</md-button>
		
		<md-button id="menu-button" class="md-icon-button" aria-label="Menu" ng-click="goTo('/instance/' + instanceId + '/documents')">
			<md-icon md-svg-icon="img/icons/folder.svg"></md-icon>
		</md-button>
		
		<md-button id="menu-button" class="md-icon-button" aria-label="Menu" ng-click="selectSupervisor($event)" ng-if="!isManager">
			<md-icon md-svg-icon="img/icons/supervisor.svg"></md-icon>
			<md-tooltip md-direction="bottom">{{ 'supervisorSelection' | translate }}</md-tooltip>
		</md-button>
		
	</div>
</md-toolbar>

<md-content layout="row" class="transparent">
	<div class="animate-switch-container" ng-switch on="activeView">
	
		<!-- Task list -->
		<section layout="row" class="animate-switch" ng-switch-when="taskList">
		
			<md-list flex style="padding-top: 0;">
				<md-card ng-repeat="task in tasks">
					<md-list-item class="md-2-line" ng-click="goToTaskDetails(task)">
						<div class="md-list-item-text" layout="column">
							<h3>[{{task.processInstance.title}}] {{task.name}}</h3>
							<p flex>{{ 'process' | translate}}: {{task.definitionName}}
								<span class="cardInline">{{ 'version' | translate}}: {{task.processInstance.version}}</span>
							</p>
							<p>{{ 'startedAt' | translate }}: {{task.startDate | date:'d/M/yyyy'}}
								<span class="cardInline" ng-if="task.endDate">{{ 'completedBy' | translate }}: {{task.assignee}} 
									{{ 'on' | translate }}: {{task.endDate | date:'d/M/yyyy'}}
								</span>
								<span ng-if="task.dueDate" class="cardInline">{{ 'dueTo' | translate }} : {{task.dueDate | date:'d/M/yyyy'}}
					 				<md-icon ng-class="listTaskDelay(task) < 1 ? (listTaskDelay(task) < 0 ? 'delayed' : 'nearDelayed') : 'removeIcon'"
					 					md-svg-icon="img/icons/delayed-notification.svg">
					 				</md-icon>
				 				</span>
							</p>
						</div>
					</md-list-item>
				</md-card>
			</md-list>
		</section>
		
		<!-- Task Details -->
		<section layout="column" class="animate-switch" ng-switch-when="taskDetails">
		
			<md-card>
				<md-card-content>
				
					<div class="card-header">
						<md-icon md-svg-src="img/avatars/{{task.icon}}" class="md-avatar" style="width: 40px; height: 40px; vertical-align: middle"></md-icon>
						<div class="after-icon">
							<h2 class="md-title">[{{task.processInstance.title}}] {{task.name}}</h2>
							<p class="md-subhead">{{ 'process' | translate}}: {{task.definitionName}}
								<span class="cardInline">{{ 'version' | translate}}: {{task.processInstance.version}}</span>
							</p>
						</div>
					</div>
				
					<section layout="row" layout-sm="column" layout-align="left center">
					
						<md-input-container class="md-block" flex="15" style="margin-right:15px">
							<label for="startDate">{{'startDate' | translate }}</label>
							<input id="startDate" ng-model="startDate" readonly disabled>
						</md-input-container>
						
						<div ng-if="taskDelay(task.dueDate) < 1" layout="row" layout-align="start start" style="margin-right:15px">
							<md-icon ng-class="taskDelay(task.dueDate) < 1 ? (taskDelay(task.dueDate) < 0 ? 'delayed' : 'nearDelayed') : 'removeIcon'" 
								style="position: relative; top: -12px" md-svg-icon="img/icons/delayed-notification.svg">
							</md-icon>
						</div>
						
						<md-input-container class="md-block" flex="15" ng-if="task.dueDate" style="margin-right:15px">
							<label for="dueDate">{{'dueTo' | translate }}</label>
							<input id="dueDate" ng-model="dueDate" readonly disabled>
						</md-input-container>
						
						<md-input-container class="md-block" flex="15" ng-if="task.endDate">
							<label for="endDate">{{'completedOn' | translate }}</label>
							<input id="endDate" ng-model="endDate" readonly disabled>
						</md-input-container>
						
						<md-button class="md-icon-button md-primary" ng-if="taskDelay(task.dueDate) < 1 && !task.endDate && task.assignee"
							aria-label="notification email" style="height: 50px" ng-click="sendNotificationEmail()">
							<md-icon style="position: relative; top: -12px" md-svg-icon="img/icons/speaker.svg"></md-icon>
						</md-button>
						
					</section>

					<section layout="row" layout-align="start center">
						<md-input-container flex class="md-block" ng-if="task.description" style="margin-top:0px">
							<label for="taskDescription">{{'description' | translate }}</label>
							<textarea id="taskDescription" ng-model="task.description" readonly disabled></textarea>
						</md-input-container>
					</section>
					
					<section layout="row" layout-align="start center">
						<md-input-container class="md-block" flex="25" style="margin-top: 0;">
							<label for="taskAssignee">{{ 'processingBy' | translate }}</label>
							<input type="email" id="taskAssignee" ng-model="task.assignee" readonly style="width:99%;text-overflow: ellipsis;" disabled>
						</md-input-container>
					</section>
					
				</md-card-content>
			</md-card>	
			
			<md-card style="margin-top: 0;" ng-if="task.taskForm.length > 0">
				<md-card-content>

					<nlk-process-form-item ng-repeat="item in task.taskForm" wf-preview="true" ng-model="item" wf-document-path="{{documentPath}}"></nlk-process-form-item>
					
				</md-card-content>
			</md-card>	
			
		</section>
	</div>
</md-content>