<md-toolbar>
	<div class="md-toolbar-tools">
	
		<md-button id="back-button" class="md-icon-button" aria-label="Back" ng-click="goBack()">
			<md-icon md-svg-icon="img/icons/back.svg"></md-icon>
		</md-button>
		
		<md-button id="menu-button" class="md-icon-button" aria-label="Menu" ng-click="toggle()" hide-gt-md>
			<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
		</md-button>
		
		<md-icon md-svg-icon="img/icons/wf-logo.svg" style="height: 48px; width: 48px"></md-icon>
		
		<div hide-sm layout-padding>
			<h1 class="md-title application-title">workflow::manager</h1>
			<h2 class="md-subhead page-title">{{'execution'| translate}}/ {{instanceName}}</h2>
		</div>
		
		<span flex></span>
		
		<md-button id="menu-button" class="md-icon-button" aria-label="Menu" ng-click="deleteProcessInstance()" ng-if="isAdmin">
			<md-icon md-svg-icon="img/icons/delete.svg"></md-icon>
		</md-button>
		
	</div>
</md-toolbar>

<md-content flex class="transparent">
	
	<div layout="row" layout-align="center start" flex class="infoMessage" ng-if="tasks === null || tasks.length==0">
		<md-card style="width:100%; line-height: 32px; background-color: #d84315">
			<md-card-content layout-align="center center">
				<md-icon md-svg-icon="img/icons/info.svg" style="height: 32px; width: 32px; margin-right: 10px;"></md-icon>
				<span style="display: inline-block; vertical-align: middle; color:white">{{'noTasksFound' | translate }}</span>
			</md-card-content>
		</md-card>
	</div>
	
	<md-list flex>
		<md-card ng-repeat="task in tasks">
			<md-list-item class="md-3-line" ng-click="goTo('/task/details/' + task.id)">
				<img ng-src="{{imagePath + task.icon}}" class="md-avatar" alt="{{task.name}}"/>
				<div class="md-list-item-text" layout="column">
					<h3>[{{task.processInstance.title}}] {{task.name}}</h3>
					<p flex>{{ 'process' | translate}}: {{task.definitionName}}</p>
					<p> 
						<span ng-if="task.assignee">{{'completedBy' | translate }} : {{task.assignee}}</span>
						<span ng-if="task.endDate">{{'completedOn' | translate }} : {{task.endDate | date:'d/M/yyyy'}}</span>
					</p>
				</div>
			</md-list-item>
		</md-card>
	</md-list>
	
</md-content>       		
