<md-toolbar>
	<div class="md-toolbar-tools">
	
		<md-button id="menu-button" class="md-icon-button" aria-label="Menu" ng-click="toggle()" hide-gt-md> 
			<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
		</md-button>
		
		<md-icon md-svg-icon="img/icons/wf-logo.svg" style="height: 48px; width: 48px"></md-icon>
		
		<div hide-sm layout-padding>
			<h1 class="md-title application-title">workflow::manager</h1>
			<h2 class="md-subhead page-title">{{'settings' | translate}}</h2>
		</div>
		
		<span flex></span>
		
		<md-button class="md-icon-button" ng-if="isPageNumbering" ng-click="addNewRegistry()" aria-label="add new">
			<md-icon md-svg-icon="img/icons/add.svg"></md-icon>
		</md-button>
	</div>
</md-toolbar>

<md-tabs md-dynamic-height md-border-bottom class="wf-tabs">
	<md-tab label="{{'generalSettings' | translate}}" md-on-select="onTabSelected('generalSettings')">
	
		<md-card flex>
			<md-card-content>
			
				<section layout="row" layout-align="center center" class="wait-icon" ng-if="showProgressBar" style="position: relative;top: 25%;">
					<md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
				</section>
			
				<form name="settingsForm" ng-show="!showProgressBar">
				
					<div layout="row">
						<div flex="20" style="padding-right:15px">
							<span class="md-body-1">{{'autoAssignment' | translate }}</span>
						</div>
						<md-switch aria-label="Auto Assignment" ng-model="settings.autoAssignment" class="md-primary md-hue-3"></md-switch>
					</div>
					
					<md-divider style="margin-bottom:10px"></md-divider>
					
					<div layout="row">
						<div flex="20" style="padding-right:15px">
							<span class="md-body-1">{{'sentAssignNotif' | translate }}</span>
						</div>
						<md-switch aria-label="Auto Notification" ng-model="settings.assignmentNotification" class="md-primary md-hue-3"></md-switch>
					</div>
					
					<md-divider style="margin-bottom:10px"></md-divider>
					
					<div layout="row">
						<div  flex="20" style="padding-right:15px">
							<span class="md-body-1"><strong>{{settings.duedateAlertPeriod}}</strong> {{'daysBeforeAlert' | translate }}</span>
						</div>
						<md-slider id="due-date" flex class="md-primary" md-discrete ng-model="settings.duedateAlertPeriod"
							step="1" min="1" max="20" aria-label="due date warning" style="max-width:250px">
						</md-slider>
					</div>
					
				</form>

				<section layout-align="center center" style="position:absolute; bottom:5%; right:2%;">
				
					<md-button class="md-fab md-primary" aria-label="Update settings" ng-click="updateSettings()" ng-disabled="!settingsForm.$dirty || !settingsForm.$valid">
						<md-icon md-svg-src="img/icons/save.svg"></md-icon>
					</md-button>
					
				</section>
				
			</md-card-content>
		</md-card>
	</md-tab>	
</md-tabs>