<md-toolbar>
	<div class="md-toolbar-tools">

		<md-button id="back-button" class="md-icon-button" aria-label="Back" ng-click="backTo()">
			<md-icon md-svg-icon="img/icons/back.svg"></md-icon>
		</md-button>

		<md-button id="menu-button" class="md-icon-button" aria-label="Menu" ng-click="toggle()" hide-gt-md>
			<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
		</md-button>

		<md-icon md-svg-icon="img/icons/wf-logo.svg" style="height: 48px; width: 48px"></md-icon>

		<div hide-sm layout-padding>
			<h1 class="md-title application-title">workflow::manager</h1>
			<h2 class="md-subhead page-title">{{'taskDetails' | translate }}</h2>
		</div>

		<span flex></span>

		<md-button class="md-icon-button" aria-label="Show Progress Diagram" ng-click="showProgressDiagram()">
			<md-icon md-svg-icon="img/icons/bpmn.svg"></md-icon>
		</md-button>

		<md-button id="menu-button" ng-if="task.taskDetails.description" class="md-icon-button" aria-label="task details" ng-click="showTaskDetails()">
			<md-icon md-svg-icon="img/icons/info.svg"></md-icon>
		</md-button>

	</div>
</md-toolbar>

<md-content class="transparent">
	<md-card>
		<md-card-content>

			<div class="card-header">
				<md-icon ng-if="task.icon" md-svg-src="img/avatars/{{task.icon}}" class="md-avatar" style="width: 40px; height: 40px; vertical-align: middle"></md-icon>
				<div class="after-icon">
					<h2 class="md-title">[{{task.processInstance.title}}] {{task.name}}</h2>
					<p class="md-subhead">{{ 'process' | translate}}: {{task.definitionName}}
						<span class="cardInline">{{ 'version' | translate}}: {{task.processInstance.version}}</span>
					</p>
				</div>
			</div>

			<section layout="row" layout-sm="column" layout-align="start center">

				<md-input-container class="md-block" flex="15" style="padding-right:15px;">
					<label for="startDate">{{ 'startDate' | translate }}</label>
					<input id="startDate" ng-model="startDate" readonly disabled>
				</md-input-container>

				<div ng-if="diffInDays < 1" layout="row" layout-align="start start" style="margin-right:15px">
					<md-icon ng-class="diffInDays < 1 ? (diffInDays < 0 ? 'delayed' : 'nearDelayed') : 'removeIcon'" style="position: relative; top: -12px"
					 md-svg-icon="img/icons/delayed-notification.svg">
					</md-icon>
				</div>

				<md-input-container class="md-block" ng-if="task.dueDate" flex="15" style="padding-right:15px;">
					<label for="dueDate">{{ 'dueTo' | translate }}</label>
					<input id="dueDate" ng-model="dueDate" readonly disabled>
				</md-input-container>

				<md-input-container class="md-block" ng-if="endDate" flex="15">
					<label for="endDate">{{ 'endDate' | translate }}</label>
					<input id="endDate" ng-model="endDate" readonly disabled>
				</md-input-container>

				<md-button class="md-icon-button md-primary" ng-if="diffInDays < 1 && task.assignee && !task.endDate" aria-label="notification email"
				 style="height: 50px" ng-click="sendNotificationEmail()">
					<md-icon style="position: relative; top: -12px" md-svg-icon="img/icons/speaker.svg"></md-icon>
				</md-button>

			</section>

            <section layout="row" layout-align="start center">
                <md-input-container flex class="md-block" ng-if="task.description" style="margin-top:0px">
                    <label for="taskDescription">{{'description' | translate }}</label>
                    <textarea id="taskDescription" ng-model="task.description" readonly disabled></textarea>
                </md-input-container>
            </section>

			<md-input-container class="md-block" ng-if="task.description" flex></md-input-container>

			<md-input-container class="md-block" ng-if="task.assignee && !task.endDate" flex="30" style="margin-top: 0;">
				<label for="taskAssignee">{{ 'assignedTo' | translate }}</label>
				<input id="taskAssignee" ng-model="task.assignee" readonly disabled>
			</md-input-container>

			<md-input-container class="md-block" ng-if="task.assignee && task.endDate" flex="30" style="margin-top: 0;">
				<label for="taskAssigneeCompleted" class="disabledLabel">{{ 'completedBy' | translate }}</label>
				<input id="taskAssigneeCompleted" ng-model="task.assignee" readonly disabled>
			</md-input-container>
		</md-card-content>

	</md-card>

	<md-card ng-if="task.taskForm != null && task.taskForm.length > 0">

		<md-card-content>
			<nlk-process-form-item ng-repeat="item in task.taskForm" ng-model="item" style="display:block" wf-document-path="{{documentPath}}"
			 wf-preview="true"></nlk-process-form-item>
		</md-card-content>

	</md-card>
</md-content>