<section layout="column">

    <md-toolbar>
        <div class="md-toolbar-tools">
        
        	<md-button id="back-button" class="md-icon-button" aria-label="Back" ng-click="backTo()">
        		<md-icon md-svg-icon="img/icons/back.svg"></md-icon>
            </md-button>

          	<md-button id="menu-button" class="md-icon-button" aria-label="Menu" ng-click="toggle()" hide-gt-md>
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>

            <md-icon md-svg-icon="img/icons/wf-logo.svg" style="height: 48px; width: 48px"></md-icon>
            

			<div hide-sm layout-padding>
            	<h1 class="md-title application-title">workflow::manager</h1>
            	<h2 class="md-subhead page-title">{{'taskDetails' | translate }}</h2>
            </div>
            
            <span flex></span>
            
            <md-button class="md-icon-button" ng-if="!endDate" aria-label="Show Progress Diagram" ng-click="showProgressDiagram()">
                <md-icon md-svg-icon="img/icons/bpmn.svg"></md-icon>
            </md-button>
            
      		<md-button id="menu-button" ng-if="task.taskDetails.description" class="md-icon-button" aria-label="task details" ng-click="showTaskDetails()">
                <md-icon md-svg-icon="img/icons/info.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    
    <section layout="row">
    	<md-card style="width:100%">
    		<md-card-content>
    		
    			<div class="card-header">
    				<md-icon md-svg-src="img/avatars/{{task.icon}}" class="md-avatar" style="width: 40px; height: 40px; vertical-align: middle"></md-icon>
    				<div class="after-icon">
    					<h3>{{task.processInstance.title}}</h3>
    					<p class="md-subhead">{{task.name}}</p>
   					</div>
               	</div>
               	
               	<section layout="row" layout-sm="column" layout-align="left center" layout-wrap>
                    <md-input-container style="margin-right:20px">
	                   	<label for="startDate">{{ 'startDate' | translate }}</label>
	                  	<input id="startDate" ng-model="startDate" readonly style="width:100px;"></input>
	                </md-input-container>
		                
	                 <md-input-container ng-if="dueDate" style="margin-right:20px">
	                   	<label for="dueDate">{{ 'dueTo' | translate }}</label>
	                  	<input id="dueDate" ng-model="dueDate" readonly style="width:100px; margin-right:20px"></input>
	                  	
	                  	<md-icon ng-class="taskDelay(task.dueDate) < 1 ? (taskDelay(task.dueDate) < 0 ? 'delayed' : 'nearDelayed') : 'removeIcon'" 
	                  		md-svg-icon="img/icons/delayed-notification.svg">
						</md-icon>
	                </md-input-container>
		                
	                 <md-input-container ng-if="endDate">
	                   	<label for="endDate">{{ 'endDate' | translate }}</label>
	                  	<input id="endDate" ng-model="endDate" readonly style="width:100px;"></input>
	                </md-input-container>
                </section>
                
                <md-input-container ng-if="task.assignee && !task.endDate">
                	<label for="taskAssignee">{{ 'assignedTo' | translate }}</label>
                	<input id="taskAssignee" ng-model="task.assignee" readonly style="width:350px"></input>
               	</md-input-container>
                   	
				<md-input-container ng-if="task.assignee && task.endDate">
					<label for="taskAssignee">{{ 'completedBy' | translate }}</label>
					<input id="taskAssignee" ng-model="task.assignee" readonly style="width:350px"></input>
				</md-input-container>
				
				<md-input-container ng-if="task.description" class="md-block">
					<label for="processDescription">{{ 'description' | translate }}</label>
					<textarea id="processDescription" ng-model="task.description" readonly></textarea>
				</md-input-container>
				
				<div style="padding-top: 15px;">
					<nlk-process-form-item ng-repeat="item in task.taskForm" ng-model="item" style="display:block"
						wf-document-path="{{documentPath}}" wf-preview="true" ng-if="item.writable">
					</nlk-process-form-item>
				</div>
				
			</md-card-content>
		</md-card>
    </section>
</section>
