<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<!-- http://www.codingpedia.org/ama/how-to-log-in-spring-with-slf4j-and-logback/ -->
<configuration>

	<property resource="workflow-engine.properties" />
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} %highlight(%-5level %-45.45logger{36} | %msg) "\n"
			</Pattern>
		</encoder>
	</appender>
	
	<!-- Send log messages to a file -->
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/workflow-engine.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
 
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>workflow-engine.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
 
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>	

	<logger name="gr.cyberstream" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger>

	<logger name="org.springframework" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger>
	
	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root> 	

</configuration>