<section layout="row" layout-align="left center" ng-if="ngReadonly">

	<md-input-container flex>
        <label for="title">{{wfDocumentLabel}}</label>
        <input type="text" id="title" name="title" readonly="true" ng-model="ngModel.title"/>
    </md-input-container>
    
    <a href="{{wfDocumentPath}}{{ngModel.documentId}}" flex="5" ng-show="ngModel.documentId" target="_blank">
    	<md-icon md-svg-icon="img/icons/description.svg">
    		<md-tooltip md-direction="top">
	       		<span ng-show="ngModel.author">{{ 'author' | translate }} : {{ngModel.author}}</span>
	       		<span ng-show="ngModel.version">{{ 'version' | translate }} : {{ngModel.version}}</span>
	       		<span ng-show="ngModel.submittedDate">({{getDateString(ngModel.submittedDate)}})</span>
	       	</md-tooltip>
    	</md-icon>
    </a>
    
	<md-input-container flex>
        <label for="refNo">{{ 'referenceNumber' | translate }}</label>
        <input type="text" id="refNo" name="refNo" readonly="true" ng-model="ngModel.refNo"/>
    </md-input-container>
    
    <md-button flex="5" class="md-icon-button" aria-label="Add File" ng-click="showAddFile()" ng-disabled="true">
		<md-icon md-svg-icon="img/icons/add.svg" ng-show="!ngModel.file"></md-icon>
	</md-button>
    
</section>

<section layout="row" layout-align="center center" ng-if="!ngReadonly" class="{{ngRequired ? 'wf-required' : ''}}">
	<md-input-container flex>
        <label for="title">{{wfDocumentLabel}}</label>
        <input type="text" id="title" name="title" readonly="true" ng-model="ngModel.title"/>
    </md-input-container>
    
    <a href="{{wfDocumentPath}}{{ngModel.documentId}}" flex="5" ng-show="ngModel.documentId" target="_blank">
    	<md-icon md-svg-icon="img/icons/description.svg">
    		<md-tooltip md-direction="top">
	       		<span ng-show="ngModel.author">{{ 'author' | translate }} : {{ngModel.author}}</span>
	       		<span ng-show="ngModel.version">{{ 'version' | translate }} : {{ngModel.version}}</span>
	       		<span ng-show="ngModel.submittedDate">({{getDateString(ngModel.submittedDate)}})</span>
	       	</md-tooltip>
    	</md-icon>
    </a>
    
	<md-input-container flex>
        <label for="refNo">{{ 'referenceNumber' | translate }}</label>
        <input type="text" id="refNo" name="refNo" readonly="true" ng-model="ngModel.refNo"/>
    </md-input-container>
    
    <md-button flex="5" class="md-icon-button" aria-label="Add File" ng-click="showAddFile()">
		<md-icon md-svg-icon="img/icons/add.svg" ng-show="!ngModel.file"></md-icon>
		<md-icon md-svg-icon="img/icons/filter.svg" ng-show="ngModel.file"></md-icon>
	</md-button>
</section>