<md-dialog aria-label="{{ 'workerSelection' | translate }}">
	
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ 'workerSelection' | translate }}</h2>
			
            <span flex></span>
            
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/close.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    
    <md-dialog-content style="min-height:350px; width:400px">
    
    	<div layout="row" layout-align="center center" ng-if="showProgressBar" style="height: 350px;">
    		<md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
   		</div>
   		
   		<md-content style="max-height: 350px; padding-top:0px; background: transparent;" layout-padding ng-if="!showProgressBar">
   			<md-radio-group ng-model="task.assignee">
    			<md-radio-button ng-repeat="candidate in candidates" ng-value="candidate.email">
    				<span>{{candidate.lastName}} {{candidate.firstName}} {{ 'pending' | translate }} : {{candidate.pendingTasks}}</span>
       			</md-radio-button>
   			</md-radio-group>
		</md-content>
		
		<section layout="row" layout-align="center center" ng-if="candidates.length == 0 && !showProgressBar">
			<div>{{ 'noCandidatesFound' | translate }}</div>
			<div>{{ 'notifyAdminDescription' | translate }}</div>
		</section>
		
	</md-dialog-content>
	
     <md-dialog-actions layout="row" layout-align="left center" class="dialogActions" style="position: relative; bottom: 0px;" ng-if="!showProgressBar">
     	<md-button ng-if="candidates.length > 0" class="md-raised md-primary" ng-click="confirm()">{{ 'confirm' | translate}}</md-button>
		 <md-button class="md-raised md-primary" ng-click="notifyAdmin()">{{'notifyAdmin' | translate}}</md-button>
     	<md-button class="md-raised" ng-click="cancel()">{{ 'cancel' | translate }}</md-button>
  	</md-dialog-actions>
  		
</md-dialog>