<md-dialog aria-label="{{ 'diagram' | translate }}" >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{process.name}} {{ 'diagram' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/close.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout-padding>

       	<div layout="row" layout-sm="column" layout-align="space-around" class="progressBar">
           	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
       	</div>

        <section layout="column" layout-align="start start" style="min-height: 450px">
            <img ng-src="{{service}}/process/{{process.id}}/diagram"
                 onload="document.querySelector('.progressBar').style.display = 'none'">
        </section>
        
    </md-dialog-content>
</md-dialog>